USE [master]
GO
/****** Object:  Database [ALDIFA_SOFT_MVC_IF4101]    Script Date: 26/5/2021 11:57:11 ******/
CREATE DATABASE [ALDIFA_SOFT_MVC_IF4101]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALDIFA_SOFT_MVC_IF4101', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ALDIFA_SOFT_MVC_IF4101.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ALDIFA_SOFT_MVC_IF4101_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ALDIFA_SOFT_MVC_IF4101_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALDIFA_SOFT_MVC_IF4101].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALDIFA_SOFT_MVC_IF4101]
GO
USE [ALDIFA_SOFT_MVC_IF4101]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 26/5/2021 11:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Initials] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Credits] [int] NOT NULL,
	[Semester] [nvarchar](8) NULL,
	[Schedule_Id] [nvarchar](max) NULL,
	[Activity] [bit] NULL,
	[CreationDate] [date] NOT NULL,
	[CreationUser] [nvarchar](15) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumComment]    Script Date: 26/5/2021 11:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumComment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseInitials] [nvarchar](6) NULL,
	[Author] [nvarchar](100) NULL,
	[TextContent] [nvarchar](max) NULL,
	[CreationDate] [date] NULL,
	[CreationUser] [nvarchar](20) NULL,
 CONSTRAINT [PK_ForumComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumCommentAnswer]    Script Date: 26/5/2021 11:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumCommentAnswer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Author] [nvarchar](50) NULL,
	[IdComment] [int] NULL,
	[TextContent] [nvarchar](max) NULL,
	[CreationDate] [date] NULL,
	[CreationUser] [nvarchar](20) NULL,
 CONSTRAINT [PK_ForumCommentAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 26/5/2021 11:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Group_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](5) NOT NULL,
	[Schedule_Id] [int] NULL,
	[CreationDate] [date] NOT NULL,
	[CreationUser] [nvarchar](20) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Group_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfessorConsultation]    Script Date: 26/5/2021 11:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessorConsultation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCardProffesor] [nvarchar](6) NULL,
	[IdCardStudent] [nvarchar](6) NULL,
	[StudentName] [nvarchar](20) NULL,
	[ConsultationText] [nvarchar](max) NULL,
	[CreationDate] [date] NULL,
	[CreationUser] [nvarchar](20) NULL,
 CONSTRAINT [PK_ProfessorConsultation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/5/2021 11:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCard] [nvarchar](6) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](20) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](100) NULL,
	[Activity] [bit] NULL,
	[Approval] [nvarchar](15) NULL,
	[Presidency] [bit] NULL,
	[PersonalFormation] [nvarchar](max) NULL,
	[DateTime] [nvarchar](100) NULL,
	[Instagram] [nvarchar](70) NULL,
	[Facebook] [nvarchar](70) NULL,
	[CreationDate] [date] NOT NULL,
	[CreationUser] [nvarchar](20) NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Group_Course]    Script Date: 26/5/2021 11:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Group_Course](
	[User_Id] [int] NULL,
	[Group_Id] [int] NULL,
	[Course_Id] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [Initials], [Name], [Credits], [Semester], [Schedule_Id], [Activity], [CreationDate], [CreationUser]) VALUES (44, N'IF3100', N'Introducción a los Sistemas de Información', 3, N'i', N'Lunes 8am-11:45am', 1, CAST(N'2021-05-05' AS Date), N'Administrador')
INSERT [dbo].[Course] ([Id], [Initials], [Name], [Credits], [Semester], [Schedule_Id], [Activity], [CreationDate], [CreationUser]) VALUES (45, N'XS0105', N'Estadística para Informáticos', 3, N'i', N'Miercoles 1pm-4:45pm', 0, CAST(N'2021-05-05' AS Date), N'Administrador')
INSERT [dbo].[Course] ([Id], [Initials], [Name], [Credits], [Semester], [Schedule_Id], [Activity], [CreationDate], [CreationUser]) VALUES (49, N'IF5100', N'Administración de Bases de Datos', 4, N'i', N'Martes 8am-11:45am', 1, CAST(N'2021-05-05' AS Date), N'Administrador')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumComment] ON 

INSERT [dbo].[ForumComment] ([Id], [CourseInitials], [Author], [TextContent], [CreationDate], [CreationUser]) VALUES (10, N'XS0105', N'Diego Garita Abarca', N'Esta vara es de mate ? jaja que pereza', CAST(N'2021-05-19' AS Date), NULL)
INSERT [dbo].[ForumComment] ([Id], [CourseInitials], [Author], [TextContent], [CreationDate], [CreationUser]) VALUES (15, N'XS0105', N'Francisco Vega', N'que tiene que ver estadística con la informática?', CAST(N'2021-05-20' AS Date), NULL)
INSERT [dbo].[ForumComment] ([Id], [CourseInitials], [Author], [TextContent], [CreationDate], [CreationUser]) VALUES (16, N'IF7100', N'Francisco Vega', N'De que trata??', CAST(N'2021-05-20' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[ForumComment] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumCommentAnswer] ON 

INSERT [dbo].[ForumCommentAnswer] ([Id], [Author], [IdComment], [TextContent], [CreationDate], [CreationUser]) VALUES (1, N'John Lennon', 15, N'Como que hola? quien sos?', CAST(N'2021-05-24' AS Date), NULL)
INSERT [dbo].[ForumCommentAnswer] ([Id], [Author], [IdComment], [TextContent], [CreationDate], [CreationUser]) VALUES (2, N'George Harrison
', 16, N'Soy Francesco Virgolinii, y usted que esta haciendo acá?', CAST(N'2021-05-24' AS Date), NULL)
INSERT [dbo].[ForumCommentAnswer] ([Id], [Author], [IdComment], [TextContent], [CreationDate], [CreationUser]) VALUES (3, N'John Lennon', 18, N'No sé pero si sé que ayer jugó... 🔥🔥🔥🥵 la S 🥵🔥🔥🔥', CAST(N'2021-05-24' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[ForumCommentAnswer] OFF
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([Group_Id], [Name], [Schedule_Id], [CreationDate], [CreationUser]) VALUES (1, N'022', 1, CAST(N'2021-05-17' AS Date), NULL)
INSERT [dbo].[Group] ([Group_Id], [Name], [Schedule_Id], [CreationDate], [CreationUser]) VALUES (2, N'034', 2, CAST(N'2021-05-17' AS Date), NULL)
INSERT [dbo].[Group] ([Group_Id], [Name], [Schedule_Id], [CreationDate], [CreationUser]) VALUES (3, N'021', 3, CAST(N'2021-05-17' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[ProfessorConsultation] ON 

INSERT [dbo].[ProfessorConsultation] ([Id], [IdCardProffesor], [IdCardStudent], [StudentName], [ConsultationText], [CreationDate], [CreationUser]) VALUES (3, N'P47874', N'B85243', N'Ale QL', N'Buenas profe, era para ver si me atendía en horas consulta para ver unas dudas que tenemos con mi equipo de proyecto', CAST(N'2021-05-22' AS Date), N'Estudiante')
INSERT [dbo].[ProfessorConsultation] ([Id], [IdCardProffesor], [IdCardStudent], [StudentName], [ConsultationText], [CreationDate], [CreationUser]) VALUES (4, N'P2500', N'A09867', N'John Lennon', N'Profesor, con respecto a la tarea que nos dejó ayer, ¿podria darnos consulta para esta semana?, es que no entendimos el segundo punto y en mediacion no esta habilitado el foro ', CAST(N'2021-05-22' AS Date), N'Estudiante')
INSERT [dbo].[ProfessorConsultation] ([Id], [IdCardProffesor], [IdCardStudent], [StudentName], [ConsultationText], [CreationDate], [CreationUser]) VALUES (6, N'P2500', N'B92715', N'Francisco Vega', N'Profe una pregunta, ¿el laboratorio 3 se podia mandar en rar?, es que a mi no me servia el winrar', CAST(N'2021-05-22' AS Date), N'Estudiante')
SET IDENTITY_INSERT [dbo].[ProfessorConsultation] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [IdCard], [Name], [LastName], [Email], [Password], [Rol], [Phone], [Address], [Activity], [Approval], [Presidency], [PersonalFormation], [DateTime], [Instagram], [Facebook], [CreationDate], [CreationUser], [Photo]) VALUES (34, N'B56755', N'Adriana', N'Torres Serrano', N'nanita644@ucr.ac.cr', N'nana222%%', N'Profesor', N'84623566', N'Barrio la Joya, Paraiso de Cartago', 1, N'Aceptado', 0, NULL, NULL, N'https://www.instagram.com/', N'https://www.facebook.com/', CAST(N'2021-05-05' AS Date), N'Administrador', 0x)
INSERT [dbo].[User] ([Id], [IdCard], [Name], [LastName], [Email], [Password], [Rol], [Phone], [Address], [Activity], [Approval], [Presidency], [PersonalFormation], [DateTime], [Instagram], [Facebook], [CreationDate], [CreationUser], [Photo]) VALUES (42, N'P98764', N'Abel', N'Madriz Lopez', N'estebi@ucr.ac.cr', N'2Nf3%h1l+q', N'Profesor', N'87468975', N'Cachí', 1, N'Aceptado', 0, N'Conocimiento en desarrollo de videojuegos, mayormente en Unity', N'Viernes de 1:00am a 4:30pm', N'https://www.instagram.com/', N'https://www.facebook.com/', CAST(N'2021-05-05' AS Date), N'Administrador', 0x)
INSERT [dbo].[User] ([Id], [IdCard], [Name], [LastName], [Email], [Password], [Rol], [Phone], [Address], [Activity], [Approval], [Presidency], [PersonalFormation], [DateTime], [Instagram], [Facebook], [CreationDate], [CreationUser], [Photo]) VALUES (44, N'P47874', N'Pablo', N'Martinez Mora', N'pablomm34@gmail.com', N'1Ppk8+KATU', N'Profesor', N'09876532', N'Tobosi centro', 1, N'En Espera', 0, NULL, N'Miercoles de 8:00am a 9:00am', N'https://www.instagram.com/', N'https://www.facebook.com/', CAST(N'2021-05-05' AS Date), N'Administrador', 0x)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[User_Group_Course] ([User_Id], [Group_Id], [Course_Id]) VALUES (44, 1, 60)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__3B7B33C35C2288B7]    Script Date: 26/5/2021 11:57:11 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__3B7B33C35C2288B7] UNIQUE NONCLUSTERED 
(
	[IdCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [CO_CreationDateCourse]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [Co_DefaultCreation]  DEFAULT ('Administrador') FOR [CreationUser]
GO
ALTER TABLE [dbo].[ForumComment] ADD  CONSTRAINT [US_CreationDateForumComment]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[ForumComment] ADD  CONSTRAINT [US_CreationUserForForumComment]  DEFAULT ('Estudiante') FOR [CreationUser]
GO
ALTER TABLE [dbo].[ForumCommentAnswer] ADD  CONSTRAINT [US_CreationDateAnswer]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[ForumCommentAnswer] ADD  CONSTRAINT [US_CreationUserForForumCommentAnswer]  DEFAULT ('Estudiante') FOR [CreationUser]
GO
ALTER TABLE [dbo].[Group] ADD  CONSTRAINT [GR_CreationDateGroup]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Group] ADD  CONSTRAINT [US_CreationUserForGroup]  DEFAULT ('Administrador') FOR [CreationUser]
GO
ALTER TABLE [dbo].[ProfessorConsultation] ADD  CONSTRAINT [US_CreationDateConsultation]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[ProfessorConsultation] ADD  CONSTRAINT [US_CreationUser]  DEFAULT ('Estudiante') FOR [CreationUser]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [Cs_Presidency]  DEFAULT ((0)) FOR [Presidency]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__DateTime__503BEA1C]  DEFAULT ('N/A') FOR [DateTime]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Instagram__6166761E]  DEFAULT ('https://www.instagram.com/') FOR [Instagram]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Facebook__607251E5]  DEFAULT ('https://www.facebook.com/') FOR [Facebook]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [US_CreationDateStudent]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [US_CreationUserForUser]  DEFAULT ('Administrador') FOR [CreationUser]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Photo__503BEA1C]  DEFAULT (0x) FOR [Photo]
GO
ALTER TABLE [dbo].[User_Group_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Group_Course_Course] FOREIGN KEY([Course_Id])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[User_Group_Course] CHECK CONSTRAINT [FK_User_Group_Course_Course]
GO
ALTER TABLE [dbo].[User_Group_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Group_Course_Group] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Group] ([Group_Id])
GO
ALTER TABLE [dbo].[User_Group_Course] CHECK CONSTRAINT [FK_User_Group_Course_Group]
GO
ALTER TABLE [dbo].[User_Group_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Group_Course_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[User_Group_Course] CHECK CONSTRAINT [FK_User_Group_Course_User]
GO
USE [master]
GO
