USE [master]
GO
/****** Object:  Database [ALDIFA_SOFT_MVC_IF4101]    Script Date: 25/5/2021 22:36:45 ******/
CREATE DATABASE [ALDIFA_SOFT_MVC_IF4101]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALDIFA_SOFT_MVC_IF4101', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ALDIFA_SOFT_MVC_IF4101.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ALDIFA_SOFT_MVC_IF4101_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ALDIFA_SOFT_MVC_IF4101_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALDIFA_SOFT_MVC_IF4101].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALDIFA_SOFT_MVC_IF4101]
GO
USE [ALDIFA_SOFT_MVC_IF4101]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Initials] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Credits] [int] NOT NULL,
	[Semester] [nvarchar](8) NULL,
	[Schedule_Id] [nvarchar](max) NULL,
	[Activity] [bit] NULL,
	[CreationDate] [date] NOT NULL,
	[UpdateDate] [date] NULL,
	[CreationUser] [nvarchar](15) NULL,
	[UpdateUser] [nvarchar](15) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumComment]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumComment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseInitials] [nvarchar](6) NULL,
	[Author] [nvarchar](100) NULL,
	[TextContent] [nvarchar](max) NULL,
	[CreationDate] [date] NULL,
 CONSTRAINT [PK_ForumComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumCommentAnswer]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumCommentAnswer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Author] [nvarchar](50) NULL,
	[IdComment] [int] NULL,
	[TextContent] [nvarchar](max) NULL,
	[CreationDate] [date] NULL,
 CONSTRAINT [PK_ForumCommentAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Group_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](5) NOT NULL,
	[Schedule_Id] [int] NULL,
	[Creation_Date] [date] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Group_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfessorConsultation]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessorConsultation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCardProffesor] [nvarchar](6) NULL,
	[IdCardStudent] [nvarchar](6) NULL,
	[StudentName] [nvarchar](20) NULL,
	[ConsultationText] [nvarchar](max) NULL,
	[CreationDate] [date] NULL,
	[CreationUser] [nvarchar](20) NULL,
 CONSTRAINT [PK_ProfessorConsultation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCard] [nvarchar](6) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](20) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](100) NULL,
	[Activity] [bit] NULL,
	[Approval] [nvarchar](15) NULL,
	[Presidency] [bit] NULL,
	[PersonalFormation] [nvarchar](max) NULL,
	[DateTime] [nvarchar](100) NULL,
	[Instagram] [nvarchar](70) NULL,
	[Facebook] [nvarchar](70) NULL,
	[CreationDate] [date] NOT NULL,
	[UpdateDate] [date] NULL,
	[CreationUser] [nvarchar](20) NULL,
	[UpdateUser] [nvarchar](20) NULL,
	[Photo] [varbinary](max) NULL,
	[Picture] [text] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Group_Course]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Group_Course](
	[User_Id] [int] NULL,
	[Group_Id] [int] NULL,
	[Course_Id] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [Initials], [Name], [Credits], [Semester], [Schedule_Id], [Activity], [CreationDate], [UpdateDate], [CreationUser], [UpdateUser]) VALUES (44, N'IF3100', N'Introducción a los Sistemas de Información', 3, N'i', N'Lunes 8am-11:45am', 1, CAST(N'2021-05-05' AS Date), NULL, N'Administrador', N'N/A')
INSERT [dbo].[Course] ([Id], [Initials], [Name], [Credits], [Semester], [Schedule_Id], [Activity], [CreationDate], [UpdateDate], [CreationUser], [UpdateUser]) VALUES (45, N'XS0105', N'Estadística para Informáticos', 3, N'i', N'Miercoles 1pm-4:45pm', 0, CAST(N'2021-05-05' AS Date), NULL, N'Administrador', N'N/A')
INSERT [dbo].[Course] ([Id], [Initials], [Name], [Credits], [Semester], [Schedule_Id], [Activity], [CreationDate], [UpdateDate], [CreationUser], [UpdateUser]) VALUES (49, N'IF5100', N'Administración de Bases de Datos', 4, N'i', N'Martes 8am-11:45am', 1, CAST(N'2021-05-05' AS Date), NULL, N'Administrador', N'N/A')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumComment] ON 

INSERT [dbo].[ForumComment] ([Id], [CourseInitials], [Author], [TextContent], [CreationDate]) VALUES (10, N'XS0105', N'Diego Garita Abarca', N'Esta vara es de mate ? jaja que pereza', CAST(N'2021-05-19' AS Date))
INSERT [dbo].[ForumComment] ([Id], [CourseInitials], [Author], [TextContent], [CreationDate]) VALUES (15, N'XS0105', N'Francisco Vega', N'que tiene que ver estadística con la informática?', CAST(N'2021-05-20' AS Date))
INSERT [dbo].[ForumComment] ([Id], [CourseInitials], [Author], [TextContent], [CreationDate]) VALUES (16, N'IF7100', N'Francisco Vega', N'De que trata??', CAST(N'2021-05-20' AS Date))
SET IDENTITY_INSERT [dbo].[ForumComment] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumCommentAnswer] ON 

INSERT [dbo].[ForumCommentAnswer] ([Id], [Author], [IdComment], [TextContent], [CreationDate]) VALUES (1, N'John Lennon', 15, N'Como que hola? quien sos?', CAST(N'2021-05-24' AS Date))
INSERT [dbo].[ForumCommentAnswer] ([Id], [Author], [IdComment], [TextContent], [CreationDate]) VALUES (2, N'George Harrison
', 16, N'Soy Francesco Virgolinii, y usted que esta haciendo acá?', CAST(N'2021-05-24' AS Date))
INSERT [dbo].[ForumCommentAnswer] ([Id], [Author], [IdComment], [TextContent], [CreationDate]) VALUES (3, N'John Lennon', 18, N'No sé pero si sé que ayer jugó... 🔥🔥🔥🥵 la S 🥵🔥🔥🔥', CAST(N'2021-05-24' AS Date))
SET IDENTITY_INSERT [dbo].[ForumCommentAnswer] OFF
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([Group_Id], [Name], [Schedule_Id], [Creation_Date]) VALUES (1, N'022', 1, CAST(N'2021-05-17' AS Date))
INSERT [dbo].[Group] ([Group_Id], [Name], [Schedule_Id], [Creation_Date]) VALUES (2, N'034', 2, CAST(N'2021-05-17' AS Date))
INSERT [dbo].[Group] ([Group_Id], [Name], [Schedule_Id], [Creation_Date]) VALUES (3, N'021', 3, CAST(N'2021-05-17' AS Date))
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[ProfessorConsultation] ON 

INSERT [dbo].[ProfessorConsultation] ([Id], [IdCardProffesor], [IdCardStudent], [StudentName], [ConsultationText], [CreationDate], [CreationUser]) VALUES (3, N'P47874', N'B85243', N'Ale QL', N'Buenas profe, era para ver si me atendía en horas consulta para ver unas dudas que tenemos con mi equipo de proyecto', CAST(N'2021-05-22' AS Date), N'Estudiante')
INSERT [dbo].[ProfessorConsultation] ([Id], [IdCardProffesor], [IdCardStudent], [StudentName], [ConsultationText], [CreationDate], [CreationUser]) VALUES (4, N'P2500', N'A09867', N'John Lennon', N'Profesor, con respecto a la tarea que nos dejó ayer, ¿podria darnos consulta para esta semana?, es que no entendimos el segundo punto y en mediacion no esta habilitado el foro ', CAST(N'2021-05-22' AS Date), N'Estudiante')
INSERT [dbo].[ProfessorConsultation] ([Id], [IdCardProffesor], [IdCardStudent], [StudentName], [ConsultationText], [CreationDate], [CreationUser]) VALUES (6, N'P2500', N'B92715', N'Francisco Vega', N'Profe una pregunta, ¿el laboratorio 3 se podia mandar en rar?, es que a mi no me servia el winrar', CAST(N'2021-05-22' AS Date), N'Estudiante')
SET IDENTITY_INSERT [dbo].[ProfessorConsultation] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [IdCard], [Name], [LastName], [Email], [Password], [Rol], [Phone], [Address], [Activity], [Approval], [Presidency], [PersonalFormation], [DateTime], [Instagram], [Facebook], [CreationDate], [UpdateDate], [CreationUser], [UpdateUser], [Photo], [Picture]) VALUES (34, N'B56755', N'Adriana', N'Torres Serrano', N'nanita644@ucr.ac.cr', N'nana222%%', N'Profesor', N'84623566', N'Barrio la Joya, Paraiso de Cartago', 1, N'Aceptado', 0, NULL, NULL, N'https://www.instagram.com/', N'https://www.facebook.com/', CAST(N'2021-05-05' AS Date), NULL, N'Administrador', N'N/A', 0x, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[User_Group_Course] ([User_Id], [Group_Id], [Course_Id]) VALUES (44, 1, 60)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__3B7B33C35C2288B7]    Script Date: 25/5/2021 22:36:46 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__3B7B33C35C2288B7] UNIQUE NONCLUSTERED 
(
	[IdCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [CO_CreationDateCourse]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [Co_DefaultCreation]  DEFAULT ('Administrador') FOR [CreationUser]
GO
ALTER TABLE [dbo].[ForumComment] ADD  CONSTRAINT [US_CreationDateForumComment]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[ForumCommentAnswer] ADD  CONSTRAINT [US_CreationDateAnswer]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Group] ADD  CONSTRAINT [GR_CreationDateGroup]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[ProfessorConsultation] ADD  CONSTRAINT [US_CreationDateConsultation]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[ProfessorConsultation] ADD  CONSTRAINT [US_CreationUser]  DEFAULT ('Estudiante') FOR [CreationUser]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [Cs_Presidency]  DEFAULT ((0)) FOR [Presidency]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__DateTime__503BEA1C]  DEFAULT ('N/A') FOR [DateTime]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Instagram__6166761E]  DEFAULT ('https://www.instagram.com/') FOR [Instagram]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Facebook__607251E5]  DEFAULT ('https://www.facebook.com/') FOR [Facebook]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [US_CreationDateStudent]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Photo__503BEA1C]  DEFAULT (0x) FOR [Photo]
GO
ALTER TABLE [dbo].[User_Group_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Group_Course_Course] FOREIGN KEY([Course_Id])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[User_Group_Course] CHECK CONSTRAINT [FK_User_Group_Course_Course]
GO
ALTER TABLE [dbo].[User_Group_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Group_Course_Group] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Group] ([Group_Id])
GO
ALTER TABLE [dbo].[User_Group_Course] CHECK CONSTRAINT [FK_User_Group_Course_Group]
GO
ALTER TABLE [dbo].[User_Group_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Group_Course_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[User_Group_Course] CHECK CONSTRAINT [FK_User_Group_Course_User]
GO
/****** Object:  StoredProcedure [dbo].[CreateCourse]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateCourse] @Initials nvarchar(10), @Name nvarchar(50),
@Credits int, @Semester nvarchar(8), @Schedule_Id int, @Activity bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

INSERT INTO Course (Initials,[Name], Credits,Semester,Schedule_Id,Activity)
VALUES (@Initials,@Name,@Credits,@Semester,@Schedule_Id,@Activity)
UPDATE [dbo].[Course]
SET CreationUser = @Name, UpdateUser = 'N/A'

WHERE Initials=@Initials;
END
GO
/****** Object:  StoredProcedure [dbo].[CreateProfessor]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateProfessor] @IdCard nvarchar(8),@Name nvarchar(20),
@LastName nvarchar(70), @Email nvarchar(50), @Password nvarchar(50),
@Phone nvarchar(8), @Address nvarchar(100)
AS
BEGIN

INSERT INTO [dbo].[User] (IdCard, [Name], LastName, Email, [Password], Phone, [Address])
VALUES (@IdCard, @Name,@LastName,@Email,@Password,@Phone,@Address)
UPDATE [User]
SET Activity = 1, Approval = 'Aceptado' , Presidency=0, Rol ='Profesor',
CreationUser = 'Administrador', UpdateUser = 'N/A'
WHERE IdCard = @IdCard;
END
GO
/****** Object:  StoredProcedure [dbo].[CreateStudent]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateStudent] @IdCard nvarchar(8), @Name varchar(20),
@LastName varchar (50), @Email nvarchar(50), @Password nvarchar(50),
@Phone nvarchar(15), @Address nvarchar(100)
AS
BEGIN


INSERT INTO [User] (IdCard, [Name], LastName, Email, [Password], Phone, [Address])
VALUES (@IdCard, @Name,@LastName,@Email,@Password,@Phone,@Address)
UPDATE [User]
SET Activity = 0, Approval = 'En Espera' , Presidency=0, Rol ='Estudiante',
CreationUser = @Name, UpdateUser = 'N/A', [DateTime] = 'N/A'

WHERE IdCard = @IdCard;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCourse]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--se elimina con la ID y las siglas del curso
CREATE PROCEDURE [dbo].[DeleteCourse] @Initials NVARCHAR(10)
AS 
  BEGIN 
      DELETE Course
      WHERE 
	  Initials = @Initials; 
END
GO
/****** Object:  StoredProcedure [dbo].[LoginAuthentication]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LoginAuthentication]
	@IdCard NVARCHAR(8), @Password NVARCHAR(50) 

AS
BEGIN
DECLARE @Exists INT
If EXISTS(SELECT Id FROM [dbo].[User] WHERE IdCard = @IdCard AND [Password] = @Password )
	SET @Exists =  1;--si existe el usuario con las credenciales indicadas
ELSE 
BEGIN
	SET @Exists =  0;--No existe el usuario con las credenciales indicadas
END
	RETURN @Exists

END
GO
/****** Object:  StoredProcedure [dbo].[ReadCourse]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---Obtiene el curso especifico por las siglas
CREATE PROCEDURE [dbo].[ReadCourse] @Initials nvarchar(10)
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [Initials], [Name], [Credits], [Semester], [Schedule_Id],[Activity]
	FROM [dbo].[Course]
	WHERE @Initials =Initials
END
GO
/****** Object:  StoredProcedure [dbo].[ReadStudents]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReadStudents]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdCard], [Name], [LastName], [Email], [Phone]
	FROM [dbo].[User]
	WHERE Approval = 'En Espera';
END
GO
/****** Object:  StoredProcedure [dbo].[SelectCourseGeneral]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectCourseGeneral]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [Initials], [Name], Credits, Semester,Activity
	FROM Course 
	 
END
GO
/****** Object:  StoredProcedure [dbo].[SelectStudentByID]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectStudentByID] (@StudentId  NVARCHAR(8)) 

AS 
  BEGIN 
       SELECT * FROM  [dbo].[User]
	  WHERE
	  
	  IdCard = @StudentId AND Rol = 'Estudiante'; 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCourse]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateCourse] (@Initials NVARCHAR(10),
@Name NVARCHAR(50), @Credits INTEGER, @Semester NVARCHAR(8),
 @Activity BIT) 
AS 
  BEGIN 
-- @Schedule_Id INTEGER,
            UPDATE Course 
            SET Initials = @Initials,
				[Name]= @Name,
				Credits = @Credits,
				Semester = @Semester,
				--Schedule_Id = @Schedule_Id,
				Activity = @Activity,
				UpdateUser = 'Administrador',
				UpdateDate = GETDATE()
            WHERE 
			Initials = @Initials; 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudentApproval]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStudentApproval] (@IdCard NVARCHAR(8), @Approval NVARCHAR(15))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	 SET NOCOUNT ON;
	 
    -- Insert statements for procedure here
	
	 UPDATE [dbo].[User] SET Approval = @Approval
	 WHERE IdCard = @IdCard
	 if(@Approval = 'Rechazado')
	 UPDATE [dbo].[User] SET Activity = 0
	 WHERE IdCard = @IdCard
	 if(@Approval = 'Aceptado')
	 UPDATE [dbo].[User] SET Activity = 1
	 WHERE IdCard = @IdCard
	 if(@Approval ='' OR @Approval ='0')
	 UPDATE [dbo].[User] SET Approval = 'En Espera'
	 WHERE IdCard = @IdCard
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyEmail]    Script Date: 25/5/2021 22:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VerifyEmail]
	@Email NVARCHAR(50)

AS
BEGIN
DECLARE @Exists INT
If EXISTS(SELECT Id FROM [User] WHERE Email = @Email)
	SET @Exists =  1;
ELSE 
BEGIN
	SET @Exists =  0;
END
	RETURN @Exists

END
GO
USE [master]
GO
