USE [master]
GO
/****** Object:  Database [ALDIFA_SOFT_MVC_IF4101]    Script Date: 27/4/2021 21:17:47 ******/
CREATE DATABASE [ALDIFA_SOFT_MVC_IF4101]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALDIFA_SOFT_MVC_IF4101', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ALDIFA_SOFT_MVC_IF4101.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ALDIFA_SOFT_MVC_IF4101_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ALDIFA_SOFT_MVC_IF4101_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALDIFA_SOFT_MVC_IF4101].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALDIFA_SOFT_MVC_IF4101]
GO
USE [ALDIFA_SOFT_MVC_IF4101]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 27/4/2021 21:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Last_Name] [nvarchar](70) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 27/4/2021 21:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Initials] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Credits] [int] NOT NULL,
	[Semester] [nvarchar](3) NOT NULL,
	[Schedule_Id] [int] NOT NULL,
	[Activity] [bit] NOT NULL,
	[Creation_Date] [date] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 27/4/2021 21:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](5) NOT NULL,
	[Course_Id] [int] NULL,
	[Main_Professor_Id] [int] NULL,
	[Schedule_Id] [int] NULL,
	[Creation_Date] [date] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 27/4/2021 21:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Card] [nvarchar](8) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Last_Name] [nvarchar](70) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](8) NULL,
	[Address] [nvarchar](100) NULL,
	[Personal_Formation] [nvarchar](100) NULL,
	[Date_Time] [nvarchar](100) NULL,
	[Picture] [text] NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Activity] [bit] NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 27/4/2021 21:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Card] [nvarchar](8) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Last_Name] [nvarchar](70) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](8) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Instagram] [nvarchar](70) NULL,
	[Facebook] [nvarchar](70) NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Presidency] [bit] NOT NULL,
	[Activity] [bit] NOT NULL,
	[Approval] [nvarchar](15) NOT NULL,
	[Profile_Picure] [text] NULL,
	[Creation_Date] [date] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrator] ADD  CONSTRAINT [A_DefaultRol]  DEFAULT ('Administrador') FOR [Rol]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [CO_CreationDateCourse]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Group] ADD  CONSTRAINT [GR_CreationDateGroup]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [S_DefaultRol]  DEFAULT ('Estudiante') FOR [Rol]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [S_DefaultPresidency]  DEFAULT ('0') FOR [Presidency]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [S_DefaultActivity]  DEFAULT ('1') FOR [Activity]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [S_DefaultState]  DEFAULT ('en espera') FOR [Approval]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_CreationDateStudent]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD CHECK  (([Email] like '%@gmail.com'))
GO
/****** Object:  StoredProcedure [dbo].[CreateStudent]    Script Date: 27/4/2021 21:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateStudent] @Id_Card nvarchar(8), @Name varchar(20),
@Last_Name varchar (70), @Email nvarchar(70), @Password nvarchar(70),
@Phone nvarchar(8), @Address nvarchar(100)
AS
BEGIN

INSERT INTO Student (Id_Card, [Name], Last_Name, Email, [Password], Phone, [Address])
VALUES (@Id_Card, @Name,@Last_Name,@Email,@Password,@Phone,@Address)
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyEmail]    Script Date: 27/4/2021 21:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VerifyEmail]
	@Email varchar(30)

AS
BEGIN
DECLARE @Exists INT
If Exists(select id from Student where Email = @Email)
	SET @Exists =  1;
else 
begin
	SET @Exists =  0;
end
	RETURN @Exists

END
GO
USE [master]
GO
