<!DOCTYPE html>
<html lang="en">
<head>

    <title>UCR_RP-Info_Emp</title>
    <!--

    Known Template

    https://templatemo.com/tm-516-known

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/templatemo-style.css">

</head>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a href="#" class="navbar-brand">❁ Informatica Empresarial ❁</a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="#top" class="smoothScroll">Inicio</a></li>
                    <li><a href="#about" class="smoothScroll">Registro</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-phone-square"></i> +506 2511-7550</a></li>
                    <li><a href="#about" onclick="return hydeShowSection('about')"><i class="fa fa-user"></i> Registrate</a></li>
                </ul>
            </div>

        </div>
    </section>


    <!-- HOME -->
    <section id="home">
        <div class="row">

            <div class="owl-carousel owl-theme home-slider">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Universidad de Costa Rica, Recinto de Paraíso</h1>
                                <h3>Bienvenido a la carrerra de Informática empresarial, aquí descubrirás todo lo relacionado a tecnología y mundo laboral actual.</h3>
                                <a href="#feature" class="section-btn btn btn-default smoothScroll">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Inicia la carrera en esta gran institución</h1>
                                <h3>Ahora la carrera de informática empresarial esta acreditada por SINAES.</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Contamos con los mejores profesores</h1>
                                <h3>Si necesitas connsultar textos academicos, artículos o revistas academicas puedes ingresar aquí. Visita <a rel="nofollow" href="http://sibdi.ucr.ac.cr/">SIBDI</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FEATURE -->
    <section id="feature">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-3">
                    <div class="feature-thumb">
                        <span>01</span>
                        <h3>Conoce el plan de estudio.</h3>
                        <p>En este <a href="https://www.srp.ucr.ac.cr/sites/default/files/Planesdeestudios/FichaProfesiograficaInformaticaEmpresarial.pdf" target="_blank">documento </a> obtendras información acerca de nuestras habilidades, destrezas, mercado laboral, etc</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="feature-thumb">
                        <span>02</span>
                        <h3>Un poco de historia </h3>
                        <p>A lo largo de este <a href="https://www.scielo.sa.cr/scielo.php?script=sci_arttext&pid=S1409-47032018000100033" target="_blank">documento</a> podras leer por parte de dos de nuestros profesores un poco de historia acerca del recinto</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="feature-thumb">
                        <span>03</span>
                        <h3>Transporte</h3>
                        <p>En el siguiente <a href="https://yoviajocr.com/bus/cartago-orosi" target="_blank">link</a> podras consultar el horario de autobuses, porque nos preocupamos para que llegues a tiempo :)</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="feature-thumb">

                        <h2>Inicia sesión</h2>
                        <input type="text" name="full name" id="nameI" class="form-control" placeholder="Nombre de usuario" required="">

                        <input type="password" name="password" id="passwordI" class="form-control" placeholder="Contraseña" required="">

                        <div>
                            <button class="submit-btn form-control" onclick="return Add()" id="form-submitI">Iniciar sesión</button>
                        </div>

                        <!--<div id="incorrectLabel" class="hide" role="alert">Error</div>
    <div id="correctLabel" class="hide" role="alert">Saved information</div>-->

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">


                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Bienvenido al proceso de registro de la carrera de Informática Empresarial!</h2>

                        <figure>
                            <span><i class="fa fa-mail-forward"></i></span>
                            <figcaption>
                                <h3>Paso 1</h3>
                                <p>Completas cada espacio del formulario que se presenta a tu derecha.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-mail-reply  "></i></span>
                            <figcaption>
                                <h3>Paso 2</h3>
                                <p>El administrador verifica que eres parte de la carrera de Informática Empresarial.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-list"></i></span>
                            <figcaption>
                                <h3>Paso 3</h3>
                                <p>Llega a tu correo una notificacion de que fuiste aceptado y ahora puedes disfrutar de esta página.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-offset-1 col-md-4 col-sm-12" ">
                    <div class="entry-form">
                        <!--<form action="#" method="post">-->

                        <h2>Registrate</h2>
                        <input type="text" name="studentCard" id="studentCard" class="form-control" placeholder="Carné estudiantil" required="">

                        <input type="text" name="full name" id="name" class="form-control" placeholder="Nombre" required="">

                        <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Apellidos" required="">

                        <input type="text" name="email" id="email" class="form-control" placeholder="Correo electrónico" required="">

                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Teléfono" required="">

                        <input type="text" name="address" id="address" class="form-control" placeholder="Dirección" required="">

                        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required="">

                        <div>
                            <button class="submit-btn form-control" onclick="return Add()" id="form-submit">Registrar</button>
                        </div>
                        <div id="incorrectLabel" class="hide" role="alert">Error</div>
                        <div id="correctLabel" class="hide" role="alert">Bieeeeeen</div>


                        <!--</form>-->
                    </div>
                </div>



            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Dirección</h2>
                        </div>
                        <address>
                            <p>1.5 km al sur del parque de Paraíso,<br> Paraíso, Cartago Province, Costa Rica</p>
                        </address>

                        <div class="copyright-text">
                            <p>Copyright &copy; 2021</p>
                            <p>Design: ALDIFA Soft.</p>
                            <p>aldifasoft0@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Contáctanos</h2>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/asip.ucr/" class="fa fa-facebook-square" attr="facebook icon" target="_blank"></a></li>
                            <li><a href="https://www.instagram.com/asip.ucr/" class="fa fa-instagram" target="_blank"></a></li>
                        </ul>
                        <address>
                            <p>+506 2511-7550</p>
                            <p><a href="mailto:youremail.co">secretaria.rp@ucr.ac.cr</a></p>
                        </address>



                    </div>
                </div>



            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/site.js"></script>

</body>
</html>